.block {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1vw);
  border-radius: 1vw;
  padding: 2vw;
}

.block_enter {
  align-items: center;
  width: 33vw;
}

.block_chars {
  align-items: center;
  width: 24vw;
}
