.reglog_button {
  text-transform: uppercase;
  padding: 5%;
  background-color: #5c73df;
  color: white;
  border-radius: 0.5vw;
  border: 1px solid #5c73df;
  font-size: calc(15px + 0.390625vw);
  font-weight: 500;
  width: 100%;
  margin-top: 2%;
  transition: 0.3s ease background;
}
.reglog_button:hover {
  background-color: #3f5cdb;
  border-color: #3f5cdb;
}
.reglog_button:disabled,
.reglog_button[disabled] {
  cursor: not-allowed;
  background-color: #4e5b97;
  border-color: #4e5b97;
}

@media screen and (max-width: 1300px) {
  .reglog_button {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .reglog_button {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .reglog_button {
    padding: 4%;
    font-weight: 600;
    font-size: calc(18px + 0.390625vw);
    border-radius: 7px;
  }
}
