/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'),
  url('../../assets/fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'),
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2'),
  url('../../assets/fonts/montserrat-v25-cyrillic_latin-500.woff') format('woff'),
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'),
  url('../../assets/fonts/montserrat-v25-cyrillic_latin-600.woff') format('woff'),
}