.reglog_input {
  position: relative;
  width: 65%;
  border: 1px solid white;
  background: unset;
  color: white;
  padding: 3%;
  border-top-right-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  outline: none;
  transition: 0.5s ease border-color;
}

.reglog_input::placeholder {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.reglog_input_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

.reglog_label {
  display: flex;
  align-items: center;
  width: 35%;
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
  border: unset;
  border-top-left-radius: 0.3vw;
  border-bottom-left-radius: 0.3vw;
  padding: 3%;
}

.reglog_label span {
  font-size: calc(15px + 0.390625vw);
}

.reglog_label_pass_img {
  width: 15%;
  margin-right: 10%;
}
.reglog_label_email_img {
  width: 17%;
  margin-right: 10%;
}

@media screen and (max-width: 576px) {
  .reglog_input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .reglog_input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  .reglog_label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .reglog_label span {
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .reglog_input::placeholder {
    font-size: 12px;
  }

  .reglog_label span {
    font-size: 12px;
  }
}