.create_content_btn {
  padding: 3% 4%;
  background-color: #3e3e3e;
  border: none;
  color: white;
  font-size: calc(10px + 0.390625vw);
  transition: .3s ease background;
}

.create_content_btn:hover {
  background-color: #607cd6;
}

.create_content_btn--active {
  background-color: #4b70e7;
}

.create_content_btn:first-child {
  border-top-left-radius: .5vw;
  border-bottom-left-radius: .5vw;
  border-right: 1px solid white;
}

.create_content_btn:last-child {
  border-top-right-radius: .5vw;
  border-bottom-right-radius: .5vw;
  border-left: 1px solid white;
}

.create_content_image {
  margin-bottom: 2%;
}