.create_content_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 4%;
  background-color: #323439;
  border: none;
  color: white;
  font-size: calc(10px + 0.390625vw);
  transition: 0.3s ease background;
}
.create_content_btn_stages {
  width: 33.3%;
}
.create_content_btn_day:hover {
  background-color: #607cd6;
}
.create_content_btn_night:hover {
  background-color: #c48932;
}

.create_content_btn--active_day {
  background-color: #4b70e7;
}
.create_content_btn--active_night {
  background-color: #c48932;
}

.create_content_btn:first-child {
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  border-right: 1px solid white;
}

.create_content_btn:last-child {
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-left: 1px solid white;
}

.create_elements_wrapper {
  width: 80%;
}

.create_content_image {
  margin-bottom: 2%;
  height: 100%;
}

.create_parents_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.create_parents_image {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 30%;
  background-image: (url("../../assets/img/create/village.jpg"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1940px) {
  .create_content_btn {
    font-size: calc(14px + 0.390625vw);
  }
}

@media screen and (max-width: 768px) {
  .create_content_btn:first-child {
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
  }

  .create_content_btn:last-child {
    border-top-right-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
  }
}
