.create_debug_container {
  display: flex;
  justify-content: flex-end;
  background-image: url("../../assets/img/create/bg_temp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.create_container {
  display: flex;
  justify-content: flex-end;
}

.create_stages_container {
  display: flex;
  margin-bottom: 10%;
}

.create_content_container {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.create_content_container {
  overflow-y: auto;
  overflow-x: hidden;
}

.create_content_container::-webkit-scrollbar-track {
  border-radius: 4px;
}
.create_content_container::-webkit-scrollbar {
  width: 2px;
}
.create_content_container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
  display: none;
}
.create_content_container:hover::-webkit-scrollbar-thumb {
  background: #6a7d9b;
  display: block;
  background-image: url("../../assets/img/create/scroll.png");
  background-repeat: repeat;
}

@media screen and (max-width: 576px) {
  .create_debug_container {
    justify-content: center;
    min-height: 100%;
  }
}
