.chars_content_line_center {
  width: 0.2%;
  background-color: white;
  opacity: 0.1;
}

.chars_content_cash_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chars_content_cash_section {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
}
