.chars_content_line_center {
  width: 0.2%;
  background-color: white;
  opacity: 0.1;
}

.chars_content_cash_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12%;
}

.chars_content_cash_section {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
}

.chars_content_info_section {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  margin-bottom: 3%;
  font-size: 1rem;
}

.char_info_section_line {
  background-color: white;
  flex-grow: 1;
  opacity: 0.3;
  height: 1px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
}
.char_info_section_line_right {
  background-color: white;
  opacity: 0.3;
  height: 1px;
  width: 4%;
  margin-left: 1%;
  margin-top: 2%;
}

.chars_content_description {
  margin-bottom: 6%;
  flex-grow: 1;
  font-size: calc(10px + 0.390625vw);
  font-weight: 600;
  color: white;
  text-align: center;
}

.chars_content_price_inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2%;
}

.chars_content_price_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1%;
}

.chars_content_price_line {
  width: 30%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.chars_content_price_title {
  margin: 0 2% 0 2%;
  font-size: calc(14px + 0.390625vw);
  font-weight: 600;
  color: #d1d9ff;
  white-space: nowrap;
}

.chars_content_price_bonus {
  width: 100%;
  margin: 0;
  font-size: calc(6px + 0.390625vw);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .chars_content_cash_section span {
    font-size: calc(12px + 0.390625vw);
  }
}

@media screen and (max-width: 576px) {
  .chars_content_cash_section span {
    font-size: calc(22px + 0.390625vw);
  }

  .chars_content_description {
    width: 70%;
    margin-bottom: 2%;
  }

  .chars_content_price_title {
    font-size: calc(20px + 0.390625vw);
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 1940px) {
  .chars_content_info_section span {
    font-size: calc(10px + 0.390625vw);
  }

  .chars_content_cash_section span {
    font-size: calc(20px + 0.390625vw);
  }
}
