.chars_blocks_container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}
.chars_logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin: 0 auto;
  padding-top: 3%;
}

.chars_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.chars_header_container {
  margin-bottom: 8%;
}

.chars_header_title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5%;
  border-radius: 0.5vw;
  color: white;
  margin-top: 6%;
  width: 100%;
}
.chars_header_title_active {
  background-color: #7f8ed8;
}
.chars_header_title_noactive {
  background-color: #6b77ae;
  color: #f1efef;
}

@media screen and (max-width: 1240px) {
  .chars_blocks_container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .chars_header_title {
    font-size: calc(10px + 0.390625vw);
  }

  .chars_header_container img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .chars_header_container img {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .chars_logo_container {
    flex-direction: column;
    margin-bottom: 4%;
  }

  .chars_blocks_container {
    align-items: center;
    flex-direction: column;
  }

  .chars_header_container img {
    width: 40%;
  }

  .chars_header_title {
    font-size: calc(14px + 0.390625vw);
  }
}
